.admin-head{
    margin-left: 5%;
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    border: 1.5px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 40px;
    border-radius: 8px;
}
.admin-head p{
    font-size: 1.3rem;
    width: max-content;
}
.list{
    margin-left: 5%;
    width: 90%;
    /* min-height: 70px; */
    height: max-content;
    border: 1.5px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 40px;
    border-radius: 8px;
}
.list-open-close{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    height: 45px;
    background-color: rgba(216, 202, 139, 0.52);
}

.list-open-close button{
    margin-right: 5%;
}
.list h2{
    padding-top: 8px;
    padding-left:3px;
    height: 35px;
    
}
.list-users-ctn{
    height: max-content;
}
.hide-list{
    display:none;
}
.show-list{
    display:block;
}
.form-ctn{
    display: flex;
}
.status{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    width: 3%;
}
.id{
    background-color: rgba(216, 202, 139, 0.52);
    border-radius: 4px;
    padding: 3px;
}
.blocked{
    transform: rotate(90deg);
    background-color: red;
    color: white;
    font-size: 1.2rem;
    padding:2px;
    border-radius: 4px;
}

.form-list{
    border: 1.5px solid rgba(0, 0, 0, 0.15);
    display:flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    border-radius: 8px;
    height:fit-content;
    padding: 4px;
    width: 95%;
}
.ap-btn{
    margin-top: 8x;
    margin-bottom: 8px;
}
.form-block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 4%;
    padding: 4px;
}
.block-text{
    font-size: 1rem;
    height: 100%;
    font-weight: 800;
    color: rgba(255, 0, 0, 0.645);
    cursor:pointer;
    
    
}
.unblock-text{
    font-size: 1rem;
    height: 100%;
    font-weight: 800;
    color: blue;
    cursor:pointer;
    
    
}