*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: helpFont;
    src: url(/styles/fonts/Helmet-Regular.ttf);
    src: url(/styles/fonts/RobotoCondensed-Light.ttf);
    src: url(/styles/fonts/RobotoCondensed-Regular.ttf); 
    src: url(/styles/fonts/Metropolis-Regular.otf);
    src: url(/styles/fonts/Metropolis-Thin.otf);
    src: url(/styles/fonts/Metropolis-SemiBold.otf);
    src: url(/styles/fonts/Metropolis-Medium.otf);

}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-family: Helvetica,Arial,sans-serif;
    font-family: helpFont;
    color: rgb(35, 20, 143);
    height: max-content;
}

ul{
    list-style: none;
}
a{
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer
}
a:hover{
    background-color: rgba(188, 186, 129, 0.323);
    transform: scale(1.05);
}
main{
    margin-top: 120px;
}
/* .warning{
    color: red;
    font-size: 1.7rem;
    font-weight:900;
} */
.large-button{
    margin-top: 20px;
    margin-bottom: 40px;
}

.large-button button{
    width: 200px;
    height: 35px;
    font-size: 1.2rem;
    font-weight: 700;
    /* background-color: rgba(216, 202, 139, 0.52); */
    border-radius: 10px;
}
.link {
    text-decoration: underline;
}
.warning{
    width: 290px;
    height: 18px;
    text-align: center;
    padding: 8px 0;
    line-height: 20px;
    color: white;
    font-weight: 500;
    background-color: red;
    border-radius: 5px;
    
}
.notification{
    width: max-content;
    height: max-content;
    color: white;
    background-color:rgb(0, 255, 26);
    padding: 6px;
    border-radius: 6px;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-top: 10px;

}
button{
    background-color: rgba(216, 202, 139, 0.52);
    border-radius: 6px;
}
