*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: helpFont;
    src: url(/styles/fonts/Helmet-Regular.ttf);
    src: url(/styles/fonts/RobotoCondensed-Light.ttf);
    src: url(/styles/fonts/RobotoCondensed-Regular.ttf); 
    src: url(/styles/fonts/Metropolis-Regular.otf);
    src: url(/styles/fonts/Metropolis-Thin.otf);
    src: url(/styles/fonts/Metropolis-SemiBold.otf);
    src: url(/styles/fonts/Metropolis-Medium.otf);

}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-family: Helvetica,Arial,sans-serif;
    font-family: helpFont;
}
a{
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer
}
a:hover{
    background-color: rgba(188, 186, 129, 0.323);
    transform: scale(1.05);
}
main{
    margin-top: 120px;
}
.warning{
    color: red;
    font-size: 1.7rem;
    font-weight:900;
}