.search-bar .search-area{
    display: flex;
    flex-direction: row;
}
.go{
    font-size: 1.0rem;
    margin-bottom: 10px;
}
.search{
    width: 100vw;
    max-width: 100%;
    height: 180px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    /* background-color: gold; */
    
}
.search-bar{
    margin-top: 10px;
    width: 80%;
    height: 120px;
    height: max-content;
    margin-left: 66px;
    font-size: 1.4rem;
    /* color: rgb(4, 34, 69); */
    font-weight: 900;
    margin-bottom: 15px;
}
.search-comment{
    border: 1.2px solid rgba(0, 0, 0, 0.15);
    padding: 6px;
    width: 110%;
    /* background-color: aqua; */
    border-radius: 10px;
   
}
.search-comment-0{
    margin-left: 78px;
    margin-bottom: 12px;
    font-size: 0.9rem;
}

.search-comment-2{
    margin-bottom: 20px;
}


h1{
    font-size: 1.8rem;
    margin-top: 16px;
    margin-bottom: 80px;
    margin-left: 66px;
}
.users-area{
    height: max-content;
    list-style: none;
}
.user-bin{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width:89%;
    height: max-content;
    height: 120px;
    font-size: 1.9rem;
    margin-bottom: 40px;
    margin-left: 66px;
    background-color: rgba(216, 202, 139, 0.52);
    border: 1.5px solid rgba(0, 0, 0, 0.15);
    margin-right: 70px;
    border-radius: 10px;
}
.user-bin a{
    width: 500px;
}

.user-info{
    width: 300px;
    height: max-content;
}
.user-info h2{
    margin-bottom:6px ;
    width: 300px;
}

h2{
    font-size: 1.1rem;
}


.text{
    width: 100vw;
    max-width:100%;
    height: 100px;
    /* background-color: red; */
}