.header-container-register{
    height: 100px;
    /* background-color: aquamarine; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.register-header-bin{
    margin-left: 66px;
    width: 89%;
    font-weight: 700;
}
.register-header-bin h1 {
    font-size: 1.5rem;
    /* font-weight: 700; */
}
.register-header-bin p{
    font-size:1.1rem;
}


.container-form-register{
    margin-left: 66px;
    width:89%;
    height: max-content;
    /* background-color: aquamarine; */
    border-radius: 10px;
}

#help-client-form{
    margin-top: 20px;
}
.register-bin{
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 700;
}
select{
    background-color: rgba(216, 202, 139, 0.52);
    /* background-color: red; */
    border-radius: 5px;
}
option:not(:checked) {
    background-color: rgba(206, 202, 185, 0.52);
    background-color: rgba(188, 188, 30, 0.52);
  }
.captcha{
    display: flex;
    justify-content: flex-start;
    gap:10px;
    height: max-content;
}
.captcha-code{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: rgba(188, 188, 30, 0.32);
    padding: 4px;
}
.captcha-cont{
    margin-top: 6px;
    background-image: url("/images/scrambled1.jpg");
    background-size: contain;
    text-align: center;
    font-family: captchaFont;
    font-size: 3.6rem;
    width: 200px;
    height: 60px;
    /* color: rgba(26, 24, 26, 0.65); */
    color: rgba(30, 24, 26, 0.65);
    /* color: rgba(250, 250, 250, 1); */
}

.captcha-write{
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: 53px;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    height: 80px;
}

.large-button button{
    margin-left: 86px;
}