.useraccount-header{
    height: max-content;
    width: max-content;
}
.useraccount-header-1{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 8px;
    background-color: rgba(214, 202, 151, 0.52);
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 4px;
    border-radius: 10px;
    text-align: center;
}
.useraccount-header-2{
    font-size: 1.0rem;
    font-weight: 600;
    margin-bottom: 6px;
}
.useraccount-input-photo{
    width: 170px;
    background-color: rgba(214, 202, 151, 0.52);
    border-radius: 7px;
    padding:2px;
}
.useraccount-right-label{
    font-size: 1.1rem ;
}